@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;700&display=swap');

:root {
    --primaryGreen: #008060;
    --secondaryGreen: #054A49;
    --red: #C43256;
    --headingFont: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    --font: 'Lato', sans-serif;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

.App {
    text-align: center;
    font-family: var(--font);
}

h1, h2, h3 {
    font-family: var(--headingFont);
    font-weight: 700;
}

//strip styles
* {
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}