button {
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    background-color: var(--blue);
    color: #ffffff;
    border: 1px solid transparent;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    width: fit-content;
    padding: 5px 10px;
    &:hover,
    &:focus {
        background-color: var(--darkblue);
    }
}

.noPoster {
    background-image: url(../assets/noPoster.png);
}

//Banner styles
.banner {
    width: 100%;
    height: 205px;
    background-color: var(--darkblue);
    color: var(--lighter);
    padding: 25px 0;
    p:first-of-type{
        padding-top: 20px;
    }
    p {
        margin: 5px 0;
    }
    button {
        margin: 20px;
    }
    button:last-of-type {
        background-color: var(--darkblue);
        border: 1px solid var(--blue);
        &:hover, &:focus {
            opacity: 0.5;
        }
    }
}

@media (max-width: 410px) {
    .banner {
        height: 300px;
    }
}